{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-7">
    <h1>Addresses List
      <a href="{% url 'isp:address-create' %}" class="btn btn-info link-to-page">
        Create
      </a>
    </h1>
{% include "includes/search_form.html" %}
    {% if addresses %}
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>City</th>
        <th>Street</th>
        <th>Building</th>
        <th>Connection technology</th>
        <th></th>
      </tr>
    {% for address in addresses %}
      <tr>
        <td>{{ address.id }}</td>
        <td>{{ address.city.name }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.building }}</td>
        <td>{{ address.connection_technology }}</td>
        <td>
            <a href="{% url 'isp:address-detail' pk=address.id %}" class="btn btn-light">
            Details
            </a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>The address list is empty.</p>
    {% endif %}
</div>
{% endblock %}