{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <h1>Addresses List
      <a href="{% url 'isp:address-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
{% include "includes/search_form.html" %}
    {% if addresses %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>City</th>
        <th>Street</th>
        <th>Building</th>
        <th>Connection technology</th>
      </tr>
    {% for address in addresses %}
      <tr>
      <td><a href="{% url 'isp:address-detail' pk=address.id %}">{{ address.id }}</a></td>
        <td>{{ address.city.name }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.building }}</td>
        <td>{{ address.connection_technology }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no drivers in the service.</p>
    {% endif %}
{% endblock %}