{% extends "base.html" %}

{% block content %}
    <h1>Addresses List
{#      <a href="{% url 'taxi:driver-create' %}" class="btn btn-primary link-to-page">#}
{#        Create#}
{#      </a>#}
    </h1>

    {% if addresses %}
    <table class="table">
      <tr>
        <th>City</th>
        <th>Street</th>
        <th>House</th>
        <th>Connection technology</th>
      </tr>
    {% for address in addresses %}
      <tr>
        <td>{{ address.city.name }}</td>
{#        <td><a href="{{ driver.get_absolute_url }}">{{ driver.username }} {% if user == driver %} (Me){% endif %}</a></td>#}
        <td>{{ address.street }}</td>
        <td>{{ address.building }}</td>
        <td>{{ address.connection_technology }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no drivers in the service.</p>
    {% endif %}
{% endblock %}