{% extends "base.html" %}

{% block content %}
    <h1>Customers List
      <a href="{% url 'isp:customer-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    {% if customers %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Tariff plane</th>
        <th>Phone number</th>
        <th>Balance</th>
      </tr>
    {% for customer in customers %}
      <tr>
        <td><a href="{% url 'isp:customer-detail' pk=customer.id %}">{{ customer.id }}</a></td>
        <td>{{ customer.username }}</td>
        <td>{{ customer.tariff.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.balance }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no drivers in the service.</p>
    {% endif %}
{% endblock %}