{% extends "base.html" %}

{% block content %}
    <h1>Customers List
{#      <a href="{% url 'taxi:driver-create' %}" class="btn btn-primary link-to-page">#}
{#        Create#}
{#      </a>#}
    </h1>

    {% if customers %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
      </tr>
    {% for customer in customers %}
      <tr>
        <td>{{ customer.id }}</td>
{#        <td><a href="{{ driver.get_absolute_url }}">{{ driver.username }} {% if user == driver %} (Me){% endif %}</a></td>#}
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.phone }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no drivers in the service.</p>
    {% endif %}
{% endblock %}