{% extends "base.html" %}
{% block content %}
  <h1>
    Tariff Plane List
  </h1>
  {% if tariff_planes %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Speed</th>
        <th>Price</th>
      </tr>
      {% for tariff_plane in tariff_planes %}
        <tr>
          <td>
            {{ tariff_plane.name }}
          </td>
          <td>
            {{ tariff_plane.speed }}
          </td>
          <td>
            {{ tariff_plane.price }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}