{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-7">
   <h1>
      Cities List
      <a href="{% url 'cities:city-create' %}" class="btn btn-info link-to-page">
      Create
      </a>
   </h1>
   {% include "includes/search_form.html" %}
   {% if cities %}
   <table class="table table-striped">
      <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Region</th>
         <th>Country</th>
         <th></th>
         <th></th>
      </tr>
      {% for city in cities %}
      <tr>
         <td>
            {{ city.id }}
         </td>
         <td>
            {{ city.name }}
         </td>
         <td>
            {{ city.region }}
         </td>
         <td>
            {{ city.country }}
         </td>
         <td>
            <a href="{% url 'cities:city-delete' pk=city.id %}" class="btn btn-danger">
            Delete
            </a>
         </td>
         <td>
            <a href="{% url 'cities:city-update' pk=city.id %}" class="btn btn-secondary">
            Update
            </a>
         </td>
      </tr>
      {% endfor %}
   </table>
   {% else %}
   <p>The list of cities is empty.</p>
   {% endif %}
</div>
>
{% endblock %}